$primary-color: #562c2c;
$secondary-color: #f2542d;
$background-color: #f5dfbb;
$text-color: #0e9594;
$border-color: #127475;
$font-family-main: 'Papyrus', Helvetica, Arial, sans-serif;
$font-family: 'Helvetica', Helvetica, Arial, sans-serif;

// @import '../node_modules/bootstrap/scss/bootstrap';

body{
    background-color: $background-color;
    color: $text-color;
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: $primary-color;
    padding: 2.5px 1.5px;
    font-family: $font-family-main;

    .navbar-brand{
        color: white;
        font-size: 2rem;

        &:hover{
            color: darken(white, 10%);
        }
    }

    .nav-link{
        color: white;
        &:hover{
            color: darken(white, 10%);
            text-decoration: underline;
        }
        &:active{
            color: darken(white, 20%);
            text-decoration: underline;
        }
    }
}
