$primary-color: #562c2c;
$secondary-color: #f2542d;
$background-color: #f5dfbb;
$text-color: #0e9594;
$border-color: #127475;
$font-family-main: 'Papyrus', Helvetica, Arial, sans-serif;
$font-family: 'Helvetica', Helvetica, Arial, sans-serif;

// @import '../node_modules/bootstrap/scss/bootstrap';

body{
    background-color: $background-color;
    color: $text-color;
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: $primary-color;
    padding: 2.5px 1.5px;
    font-family: $font-family-main;

    .navbar-brand{
        color: white;
        font-size: 2rem;

        &:hover{
            color: darken(white, 10%);
        }
    }

    .nav-link{
        color: white;
        &:hover{
            color: darken(white, 10%);
            text-decoration: underline;
        }
        &:active{
            color: darken(white, 20%);
            text-decoration: underline;
        }
    }

    .navbar-toggler{
        border-color: rgba(255, 255, 255, 0.1)
    }
}

.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px
}


h1{
    color: $primary-color;
    text-align: center;
    margin-bottom: 30px;
    font-family: $font-family-main;
}

form{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;

    input[type='search']{
        padding: 10px;
        font-size: 16px;
        border: 2px solid $primary-color;
        border-radius: 4px;
        width: 300px;
        margin-right: 20px;
    }

    #search-btn{
        padding: 10px 20px;
        font-size: 16px;
        color: white;
        background-color: $primary-color;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        &:hover{
            background-color: lighten($primary-color, 15%)
        }
    }
}

.news-article{
    background-color: white;
    border-radius: 8px;
    box-shadow: 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;

    &:hover{
        transform: translateY(-10px);
    }
}