{% extends "base.html" %}

{% block body %}
<div class="container">
    <div class="my-4 text-center">Welcome to the Times</div>
    <div class="row">
        {% for article in articles %}
        <div class="col-md-6">
            <div class="card mb-4 news-article">
                {% if article.urlToImage %}
                <img class="card-img-top" src="{{ article.urlToImage }}" alt="{{ article.title }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">
                    </h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}